subject = "{{ 'winter.mall::mail.payment.failed.subject' | trans() }}"
description = "Sent when a payment for an order fails"
==

{{ 'winter.mall::mail.common.hello' | trans({firstname: order.customer.firstname, lastname: order.customer.lastname}) }}

{{ 'winter.mall::mail.payment.failed.message' | trans({number: order.order_number}) }}

{{ 'winter.mall::mail.payment.failed.payment_advice' | trans() }}

{{ 'winter.mall::mail.payment.failed.support' | trans() }}

{% partial 'button' url=account_url type='primary' body %}
    {{ 'winter.mall::mail.common.view_order_status_online' | trans() }}
{% endpartial %}
